
#content_div
{
margin: 0x;
padding: 30px;
position: absolute;
top: 45px;
right: 0px;
bottom: 0px;
left: 280px;
overflow-y: auto;
/* border: 1px solid green; */
}


.endpoint_title
{
margin-bottom: 20px;
font-size: 300%;
font-weight: normal;
}


.endpoint_description
{
margin-bottom: 30px;
}


.limitations_div, .required_scopes_div
{
margin-bottom: 30px;
}


.limitations_div h2, .required_scopes_div h2
{
margin-bottom: 8px;
font-size: 115%;
font-weight: normal;
}


.limitations_div ul
{
}


.limitations_div li
{
margin-left: 15px;
}


.required_scopes_div ul
{
list-style: none;
}

.required_scopes_div li
{
margin: 10px 0px 0px 0px;
}


.endpoint_specification_div
{
margin-top: 60px;
}


.endpoint_specification_div h2
{
margin-bottom: 20px;
font-size: 230%;
font-weight: normal;
}


.endpoint_url
{
padding: 5px 10px 5px 10px;
font-size: 100%;
}


.endpoint_specification_div p
{
margin: 20px 0px 10px 0px;
}


.endpoint_specification_div ul
{
}


.endpoint_specification_div li
{
margin: 0px 0px 15px 15px;
}


.long_list_div
{
height: 120px;
max-height: 120px;
width: 100%;
overflow-y: auto;
}


.query_parameters_div
{
margin-top: 70px;
}


.query_parameters_div h2
{
margin-bottom: 30px;
font-size: 230%;
font-weight: normal;
}


.query_parameters_ol
{
margin: 0px;
padding: 0px;
list-style: none;
}


.query_parameters_li
{
margin: 0px 0px 40px 0px;
}


.query_parameter
{
font-size: 130%;
padding: 3px 10px 4px 10px;
}


.parm_attr_ul
{
margin: 15px 0px 0px 0px;
padding: 0px;
list-style: none;
border: 1px solid lightgrey;
border-radius: 5px;
}


.parm_attr_ul li
{
margin: 0px;
}


.parm_attr_ul li:nth-child(odd)
{
background-color: whitesmoke;
}


.parm_attr
{
margin: 0px 15px 0px 0px;
padding: 8px 0px 8px 20px;
display: inline-block;
vertical-align: top;
width: 140px;
min-width: 140px;
/* border: 1px solid green; */
}


.parm_attr_colon
{
float: right;
}


.parm_attr_desc
{
margin: 0px;
padding: 8px 20px 8px 5px;
display: inline-block;
vertical-align: top;
border: 1px solid red;
}


.parm_attr_desc_ul
{
margin: 0px 0px 0px 10px;
padding: 0px;
list-style-type: "\2022";
}

.parm_attr_desc_ul li
{
padding: 0px 0px 0px 10px;
}


.responses_div
{
margin-top: 60px;
}


.responses_div h2
{
margin-bottom: 20px;
font-size: 230%;
font-weight: normal;
}


.responses_div h3
{
margin: 30px 0px 20px 0px;
font-size: 150%;
font-weight: normal;
}


.responses_div ul
{
margin: 10px 0px 0px 0px;
}


.responses_div li
{
margin-left: 15px;
}


.responses_div h4
{
margin: 25px 0px 15px 0px;
font-size: 120%;
font-weight: normal;
}

