

.long_list_div
{
min-height: 60px;
max-height: 160px;
overflow-y: auto;
}


.query_parameters_div
{
margin-top: 70px;
}


.query_parameters_div h2
{
margin-bottom: 30px;
font-size: 200%;
font-weight: normal;
}


.query_parameters_ol
{
margin: 0px;
padding: 0px;
list-style: none;
}


.query_parameters_li
{
margin: 0px 0px 30px 0px;
}


.show_hide_btn
{
float: left;
margin: -7px 20px 0px 0px;
background: white;
color: mediumblue;
border: none;
cursor: pointer;
font-size: 160%;
}

.query_parameter
{
float: left;
margin-right: 10px;
/* border: 1px solid purple; */
}


.query_parameter_desc
{
display: table-cell;
/* border: 1px solid purple; */
}


.parm_attr_ul
{
margin: 25px 0px 40px 40px;
padding: 0px;
list-style: none;
border: 1px solid lightgrey;
border-radius: 5px;
}


.parm_attr_li
{
margin: 0px;
}


.parm_attr_li:nth-child( odd )
{
background-color: whitesmoke;
}


.parm_attr
{
margin: 0px 15px 0px 0px;
padding: 8px 0px 8px 20px;
float: left;
vertical-align: top;
width: 140px;
min-width: 140px;
/* border: 1px solid green; */
}


.parm_attr_colon
{
margin-left: 10px;
float: right;
}


.parm_attr_desc
{
margin: 0px;
padding: 8px 20px 8px 5px;
display: table-cell;
/* border: 1px solid red; */
}


.parm_attr_desc_ul
{
margin: 10px 0px 0px 10px;
padding: 0px;
list-style-type: "\2022";
}

.parm_attr_desc_ul li
{
padding: 0px 0px 5px 10px;
}


