

.endpoint_specification_div
{
margin-top: 60px;
}


.endpoint_specification_div h2
{
margin-bottom: 20px;
font-size: 200%;
font-weight: normal;
}


.endpoint_url
{
padding: 5px 10px 5px 10px;
font-size: 100%;
}


.endpoint_specification_div p
{
margin: 20px 0px 10px 0px;
}


.endpoint_specification_div ul
{
}


.endpoint_specification_div li
{
margin: 0px 0px 15px 15px;
}


