<!DOCTYPE html>
<html lang="en-us">
<head>
<meta charset="UTF-8">
<title>Pretend MURAL API docs</title>
<link rel="stylesheet" type="text/css" href="/css/styles_general.css">
<link rel="stylesheet" type="text/css" href="/css/styles_header.css">
<link rel="stylesheet" type="text/css" href="/css/styles_toc.css">
<link rel="stylesheet" type="text/css" href="/css/styles_try_it.css">
<link rel="stylesheet" type="text/css" href="/css/styles_content.css">
<link rel="stylesheet" type="text/css" href="/css/styles_endpoint_specification.css">
<link rel="stylesheet" type="text/css" href="/css/styles_query_parameters.css">
<link rel="stylesheet" type="text/css" href="/css/styles_responses.css">
<link rel="stylesheet" type="text/css" href="/css/styles_samples.css">
<script type="text/javascript" src="/javascript/javascript_header.js"></script>
<script type="text/javascript" src="/javascript/javascript_toc.js"></script>
<script type="text/javascript" src="/javascript/javascript_try_it.js"></script>
<script type="text/javascript" src="/javascript/javascript_content.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>

<body onload="loadHeader();loadTOC();loadTryIt();addShowDetailsButtons();addLanguagePickerButtons();">

<header></header>

<article>
<%- topic_html %>
<%- samples_html %>
</article>

<div id="try_it_div"></div>

<nav></nav>

</body>
</html>
